{% extends 'events/base.html' %}


{% block content %}

<h1 class="text-center">Events</h1><br/>

{% for event in events_list %}
    <div class="card">
        <div class="card-header">
            {{ event }}
        </div>
            <div class="card-body">
            <h5 class="card-title">{{ event.venue }}</h5>
            <p class="card-text">

            <ul>
                <li>Date: {{ event.event_date}}</li>
                <li>Venue: {{ event.venue}}</li>
                <li>Manager: {{ event.manager}}</li>
                <li>Discription: {{ event.discripttion}}</li>
                <li>Attendees:</br> 
                {% for user in event.attendees.all %}
                
                    {{ user }}<br>
                {% endfor %}
                </li>
            </ul> 

                <a href="{% url 'update-event' event.id %}" class="btn btn-secondary">Update Event</a>
                <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete Event</a>
            </p>
        </div>
    </div>
{% endfor %}

{% endblock %}

